

<div class="container">
          <h2 class="display-3">Hello inconnu !</h2>
          <p>Bienvenue sur The Gossip Project, découvre, partage, diffuse des rumeurs sur les gens !</p>
          <p><a class="btn btn-primary btn-lg" href="<%= new_session_path%>" role="button">Login</a>
          <a class="btn btn-primary btn-lg" href="<%= new_user_path%>" role="button">Signup</a></p>
</div>



