


<div class="card text-center">
  <div class="card-header">
  Kataaaaaaa
  </div>
  <div class="card-body">
    <h5 class="card-title">Voici notre équipe lol, mdr :</h5>
    <p class="card-text">Val</p>
    <p class="card-text">Mathis</p>
    <p class="card-text">Flo</p>
    <p class="card-text">Cheikh</p>
    <p class="card-text">Ben</p>
    <p class="card-text">JB</p>
    
    
    
  </div>
</div>
