

<div class="card text-center">
  <div class="card-header">
   Plus fort que l'Apple Store 
  </div>
  <div class="card-body">
    <h5 class="card-title">Une question, un couac ?</h5>
    <p class="card-text"> Contactez la fine équipe !</p>
    <a href="mailto:support@kata.com" class="btn btn-primary">Envoyer un email</a>
  </div>
</div>